.inputLovValue{
    /*width: 0em !important;*/
    text-align: center;
    /*visibility: hidden;*/
    /*line-height: 0em;*/
    background-color: #eee;
    border:0px;
    margin: 0px; 
    padding: 0px;
}

.lovContainerx{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
